<div class="container">
    <h1>Calendar</h1>
    <div class="container-contents-row">
    <div class="container-contents-column">
      <div class="card-grid">
        <ng-container *ngFor="let day of daysOfWeek">
            <mat-card class="day-name-card ">
                <mat-card-content>
                  {{ day }}
                </mat-card-content>
              </mat-card>
        </ng-container>
        <ng-container *ngFor="let day of monthDaysArray">

          <ng-container *ngIf="day>0; else isNotADay">

            <ng-container *ngIf="getDividendsDayForCalendar(day).length>0; else isNotDividend">
              <mat-card class="calendar-dividend-day" (click)="showDividendsGivenDay(day)">
                <mat-badge class="mat-badge-content" mat-card-badge [matBadge]="getDividendsDayForCalendar(day).length" matBadgeColor="accent" matBadgeSize="medium" matBadgePosition="above after"></mat-badge>
                <mat-card-content>
                  {{ day }}
                </mat-card-content>
              </mat-card>
            </ng-container>
            <ng-template #isNotDividend>
              <mat-card class="calendar-card" (click)="showDividendsGivenDay(day)">
                <mat-card-content>
                  {{ day }}
                </mat-card-content>
              </mat-card>
            </ng-template >
          </ng-container>
          <ng-template #isNotADay>
            <mat-card class="empty-card" >
            </mat-card>
          </ng-template >
        </ng-container>
      </div>
      <div class="buttons-block">
        <button mat-button (click)="showDividendsCurrentMonth()">Current month</button>
        <button mat-button (click)="showFullPortfolio()">Portfolio</button>
      </div>
    </div>
    <div>
      <div class="company-displays" style="margin-left: 30px;">  
        <div *ngFor="let company of companiesToDisplay">
          <mat-card class="company-displays company-card-displays">
            <img mat-card-image [src]="company.imagePath" alt="Placeholder image" height="80px" width="80px" (mouseenter)="setCompanyToDisplayAfterHover(company)" (mouseleave)="isCompanyHovered = false">
          </mat-card>
        </div>
      </div>
      <div style="margin-top: 45px; margin-left: 40px;">
        <mat-card class="custom-card" *ngIf="isCompanyHovered">
          <mat-card-content>
            <p>Ticker:  {{companyToDisplayOnHover.id}}</p>
            <p>Full name:  {{companyToDisplayOnHover.name}}</p>
            <p>Dividend Payment date:  {{companyToDisplayOnHover.dividendPaymentDate}}</p>          
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>