<div class="container">
    <h1>Calendar</h1>

    <div class="card-grid">
        <ng-container *ngFor="let day of daysOfWeek">
            <mat-card class="day-name-card ">
                <mat-card-content>
                  {{ day }}
                </mat-card-content>
              </mat-card>
        </ng-container>

        <ng-container *ngFor="let day of monthDaysArray">

          <ng-container *ngIf="day>0; else isNotADay">

            <ng-container *ngIf="getDividendsDayForCalendar(day).length>0; else isNotDividend">
              <mat-card class="calendar-dividend-day" (click)="showDividendsGivenDay(day)">
                <mat-badge class="mat-badge-content" mat-card-badge [matBadge]="getDividendsDayForCalendar(day).length" matBadgeColor="accent" matBadgeSize="medium" matBadgePosition="above after"></mat-badge>
                <mat-card-content>
                  {{ day }}
                </mat-card-content>
              </mat-card>
            </ng-container>
            <ng-template #isNotDividend>
              <mat-card class="calendar-card">
                <mat-card-content>
                  {{ day }}
                </mat-card-content>
              </mat-card>
            </ng-template >
  



          </ng-container>

          <ng-template #isNotADay>
            <mat-card class="empty-card" >
            </mat-card>
          </ng-template >

        </ng-container>
      </div>
</div>
